@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .fade-up {
    animation: fadeUp 0.65s ease both;
  }
}

@keyframes fadeUp {
  from {
    transform: translateY(26px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
